@page
@model Owl_Ops_Webserver.Pages.Measures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Measurement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Measurement.ID" class="control-label"></label>
                <input asp-for="Measurement.ID" class="form-control" />
                <span asp-validation-for="Measurement.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement.Sensor_ID" class="control-label"></label>
                <select asp-for="Measurement.Sensor_ID" class ="form-control" asp-items="ViewBag.Sensor_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Measurement.Type" class="control-label"></label>
                <input asp-for="Measurement.Type" class="form-control" />
                <span asp-validation-for="Measurement.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement.Value" class="control-label"></label>
                <input asp-for="Measurement.Value" class="form-control" />
                <span asp-validation-for="Measurement.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement.Time" class="control-label"></label>
                <input asp-for="Measurement.Time" class="form-control" />
                <span asp-validation-for="Measurement.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
